{% extends 'base.html' %}

{% block title %} Change Pickup Day {% endblock %}

{% block header %} Change Pickup Day {% endblock %}

{% block content %}
<form action="{% url 'customers:change_pickup_day' %}" method="post">
        {% csrf_token %}
        <label for="change_pickup_day">Please select a new pickup day:</label>
        <select name="change_pickup_day" id="change_pickup_day">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select>
        <button type="submit">Submit</button>
</form>
{% endblock %}