{% extends 'base.html' %}

{% block title %} One-Time Pickup {% endblock %}

{% block header %} One-Time Pickup {% endblock %}

{% block content %}
    <form action="{% url 'customers:one_time' %}" method="post">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">
            Please enter what date you would like for a one-time pickup
        </div>
        <input type="date" id="one_time" name="one_time"
                value="2021-06-07"
                min="2021-06-06" max="2022-06-06">
        <button type="submit">Submit</button>
    </form>
{% endblock %}