<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suspension pickup</title>
</head>
<body>
    <label>Please enter a stop and start date for your pickup service:</label>
    <form name="suspension_form" action="{% url 'customers:suspension' %}" method="POST">
        {% csrf_token %}
        Stop date:<input type="text" name="stop_date" id="stop_date"><br>
        Start date:<input type="text" name="start_date" id="start_date"><br>
        <a href="{% url 'customers:suspension' ">Submit</a>
    </form>
</body>
</html>